# Project specific
coverage.html
coverage.out
arraylist/bin/
arraylist/coverage.filtered.info
arraylist/coverage.info
arraylist/coverage/
arraylist/obj/
linkedlist/bin/
linkedlist/coverage.filtered.info
linkedlist/coverage.info
linkedlist/coverage/
linkedlist/obj/

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# Gom
_vendor/

# Node
node_modules/
