new Highcharts.chart({
    chart: {
        renderTo: 'container',
        type: 'line'
    },
    title: {
        text: 'Average time to insert data'
    },
    subtitle: {
        text: '<a href="https://github.com/chiku/linkedlists-vs-arrays">https://github.com/chiku/linkedlists-vs-arrays</a>'
    },
    xAxis: {
        categories: [{{ .ContainerSizes }}],
        title: {
            text: 'Size'
        },
        tickInterval: 5
    },
    yAxis: {
        title: {
            text: 'Time (ms)'
        },
        min: 0
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: false
            },
            marker: {
                enabled: false
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'Array',
        data: [ {{ .ArrayDurations }} ],
        animation: false
    }, {
        name: 'Linked-list',
        data: [ {{ .LinkedListDurations }} ],
        animation: false
    }]
});
